/* custom-default.css */
/* @theme custom-default */

@import 'default';

footer {
  /* Base layout */
  width: 100%;
  height: 50px; /* Adjust height as needed */
  padding: 0 40px;

  /* Flexbox for alignment */
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: center;

  /* Optional background color */
  background-color: #f8f9fa;
}

footer a {
  /* Link styles */
  color: #0073e6;          /* Custom link color */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 12px;
}

footer a:hover {
  color: #005bb5;          /* Darker on hover */
  text-decoration: underline;
}

footer img {
  height: 100%;
  margin-left: 12px; /* Space between text and image */
}

.cols-2 ol {
  columns: 2;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
.columns3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
} 
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}
.fa-twitter { color: aqua; }
.fa-mastodon { color: purple; }
.fa-linkedin { color: blue; }
.fa-window-maximize { color: skyblue; }
.fa-bluesky { color: skyblue; }

svg[id^="mermaid-"] { 
  max-width: 960px; 
  max-height: 600px; 
}

pre ol {
  all: unset;
  display: grid;
  grid-template-columns: auto 1fr;
  counter-reset: lno 0;
}
pre ol li { display: contents; }

/* Line numbers */
pre ol li > [data-lno]::before {
  display: block;
  counter-increment: lno;
  content: counter(lno) " ";
  text-align: right;
  opacity: .6;
  padding-right: .75rem;
}

/* The highlighted lines */
pre ol li.hl > * {
  background: #fff59d; /* tweak as you like */
}

/* Reset ordered list */
pre ol.code-block {
  all: unset;
  display: grid;
  grid-template-columns: auto 1fr;
  counter-reset: lno 0;
  margin: 0;
  padding: 0;
}

/* Lines */
pre ol.code-block li {
  display: contents;
  white-space: pre;
}

/* Line numbers */
pre ol.code-block li > [data-lno]::before {
  display: block;
  counter-increment: lno;
  content: counter(lno) " ";
  text-align: right;
  opacity: .6;
  padding-right: .75rem;
}

/* Disable line numbers if no-linenos */
pre ol.code-block.no-linenos {
  grid-template-columns: 1fr; /* drop first column */
}
pre ol.code-block.no-linenos li > [data-lno] {
  display: none;
}


@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'
