/* custom-default.css */
/* @theme custom-default */

@import 'default';

.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
.columns3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
} 
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}
.fa-twitter { color: aqua; }
.fa-mastodon { color: purple; }
.fa-linkedin { color: blue; }
.fa-window-maximize { color: skyblue; }
.fa-bluesky { color: skyblue; }

svg[id^="mermaid-"] { 
  max-width: 960px; 
  max-height: 600px; 
}

pre ol {
  all: unset;
  display: grid;
  grid-template-columns: auto 1fr;
  counter-reset: lno 0;
}
pre ol li { display: contents; }

/* Line numbers */
pre ol li > [data-lno]::before {
  display: block;
  counter-increment: lno;
  content: counter(lno) " ";
  text-align: right;
  opacity: .6;
  padding-right: .75rem;
}

/* The highlighted lines */
pre ol li.hl > * {
  background: #fff59d; /* tweak as you like */
}

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'
